@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.followup-form-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: transparent;
}

.followup-form {
  backdrop-filter: blur(20px);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.followup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffff;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 50px;
}

.form-group {
  flex-direction: column;
}

.form-group.full-width {
  grid-column: span 2;
  margin-left: 50px;
}

.followup-form label {
  font-size: 13px;
  color: #ffff;
}

.followup-form input,
.followup-form select,
.followup-form textarea {
  padding: 10px;
  display: flex;
  border-radius: 6px;
  font-size: 14px;
  width: 80%;
  outline: none;
}

input, textarea, select {
  border-left: none;
  border-right: none;
  border-top: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #ffffff;
}
select option{
  
  background: transparent;
  color: #000000;
}
textarea {
  resize: vertical;
}

.followup-form button {
  font-weight: 550;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  width: 85%;
}

.followup-form button:hover {
  background: #e7e7e7;
}


.followup-form input[type="text"] {
  display: block;
  width: 80%;
  margin-top: 10px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #02B768;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.spina{
  color:#ffffff;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
