<section class="hero">
  <div class="hero-text">
    <div class="toggle fade-in">
      <div class="alltoggle">
        <div class="toggle2">
          <label for="">One App, Endless</label>
        </div>
        <div class="toggle1">
          <label for="">🎉Possibility</label>
        </div>
      </div>
    </div>

    <h1 class="slide-up">
      Introducing {{ title }}<span class="copy">{{ copy }}</span>
    </h1>
    <h2 class="slide-up">Track Your Progress, Achieve Your Goals</h2>
    <p class="slide-up">
      FollowUp provides a sleek, user-friendly platform for tracking your
      workouts, progress, and performance. From running stats to calories
      burned, monitor everything with precision and make your fitness journey
      smarter.
    </p>
  </div>

  <div class="hero-buttons slide-up">
    <button class="signup-btn">Signup for Free</button>
    <button class="contact-btn">Contact Us</button>
  </div>
</section>
